<!-- Kategori Link Başlangıç-->
<div class="card-top container-fluid">
  <div class="d-flex justify-content-center" style="padding: 0 300px">
    <div class="item">
      <a>
        <h6>Tüm Ürünler</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <h6>Kolye</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <h6>Yüzük</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <h6>Bileklik</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <h6>Küpe</h6>
      </a>
    </div>
  </div>
</div>
<!-- Kategori Link Bitiş-->
<!--Bannerlar-->
<div *ngIf="currentHref != '/dashboard/shop'">
  <img
    src="https://cdn.kocak.com.tr/Fotograflar/org/45201-untitled-111-copy-jpg-untitled-111-copy.jpg?width=1286&height=415&sharpen=true"
    class="img-fluid"
    style="
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    "
    alt="Responsive image"
  />
  <img
    src="https://cdn.kocak.com.tr/Fotograflar/org/44589-ayni-gun-kargoda-jpg-ayni-gun-kargoda.jpg?width=1286&height=415&sharpen=true"
    class="img-fluid"
    style="
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    "
    alt="Responsive image"
  />
</div>
